.App {
  background-color: rgb(33, 32, 32);
  width: auto;
  height: auto;
}

.header {
  width: 100vw;
  position: sticky;
  background-color: #03a9f4;
  color: #f2f2f2;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 3px 0 10px #03a9f4, 6px 0 15px #03a9f4;
  }
  .container {
    
    width: 100vw;
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .radio-station {
    
    width: 230px;
    height: 230px;
    border-radius: 10px;
    margin: 20px;
    transform:scale(1);
    transition: all 0.3s;
    box-shadow: 0 0 10px #ffe4e1, 0 0  15px #ffe4e1;
    cursor: pointer;
  }
  .radio-station:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  .radio-station img {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }

